<h1>Orders#show</h1>
<p>Find me in app/views/orders/show.html.erb</p>

- te redzamas konkreetaas rezervaacijas detaljas<br />
- no kaadiem orders_from_batches sastaav shis order, t.i. no kaadiem batches<br />
- link_to mainiit
- link_to dzeest
<br />
