<%= f.hidden_field :batch_id %>
<%= f.hidden_field :leave_on %>

<p><label>Daudzums</label><br/>
<%= f.text_field :quantity, :size => 10 %></p>

<p>
<%#= f.text_field :leave_on %></p>

<p><label>Komentārs (rezervācijas mērķis)</label><br/>
<%= f.text_area :comment, :size => "30x4" %></p>
