<!-- <p><label>Datums</label><br/> -->
<%#= f.date_select(:arrive_on, :start_year => Time.now.year, :use_month_names => %w(Janvāris Februāris Marts Aprīlis Maijs Jūnijs Jūlijs Augusts Septembris Oktobris Novembris Decembris), :order => [:day, :month, :year]) %></p>

<p><label>Daudzums</label><br/>
<%= f.text_field :quantity %></p>
