<% @page_pid = {:category => @batch.product.category, :product => @batch.product} %>
<% @page_title = "Mainīt partiju" %>

<div class="header">Partija: <%= @batch.arrive_on.to_s(:short_date) %></div>

<div class="caption">
	<font size="2.5em" face="Monaco" color="orange">Mainīt</font>
</div>

<%= error_messages_for :batch %>

<% form_for :batch, :url => batch_path(@batch), :html => {:method => :put} do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p><%= submit_tag "Izmainīt" %> 
	<br />NOTE: daudzumu mainot uz mazāku, var iebraukt mīnusā!</p>
<% end %>
