<h1>Batches#index</h1>

				<!--
					<%# if product.batches.any? %>
						<%# product.batches.each do |batch| %>
						  <%# tr do %>
								<td>&nbsp;
							  <%#= batch.arrive_on.to_s(:short_date) %>
							  </td><td>
							  <%#= batch.quantity %>
							  </td><td>
							  <%#= batch_reserved_total(batch) %>
							  </td><td>
							  <%#= batch_available_total(batch) %>
							  </td><td>
							  <%# admin_area do %>
							  	<%#= link_to "mainīt", edit_batch_path(batch) %> |
							  	<%#= link_to "dzēst", batch_path(batch), :method => :delete, :confirm => "tiešām?!"%> |
							  <%# end %>
							  <%#= link_to "rezervēt", new_batch_order_path(batch) %>
							  </td>
							<%# end %>
						<%# end %>

					<%# else %>
						<%# tr do %>
							<td colspan="4"><i>&nbsp; nav partiju</i></td>
						<%# end %>
					<%# end %>
					-->
