<% @page_pid = {:category => @product.category, :product => @product} %>
<% @page_title = "Jauna partija" %>

<div class="header"><%= product_name(@product) %></div>

<div class="caption">
	<font size="2.5em" face="Monaco" color="orange">Pievienot partiju</font>
</div>

<%= error_messages_for :batch %>

<% form_for :batch, :url => product_batches_path(@product) do |f| %> 
  <%= render :partial => "form", :locals => {:f => f} %> 
  <p><%= submit_tag "Pievienot" %></p>
<% end %>
