<!-- shis nava smuki -->
<tr bgcolor="#f2f2f2">
	<td>
		<b><div id="side_menu"><%= link_to category_name(category), category_path(category) %></div></b>
	</td>
</tr>
<% if @page_id && @page_id == "product_category_#{category.id}" && category.products.any? %>
	<% for product in category.products %>
		<% if product.visible? %>
			<tr>
				<td>
					<div id="side_menu"><%= link_to "&nbsp;#{product_name(product)}", product_path(product) %></div>
				</td>
			</tr>
		<% end %>
	<% end %>
<% end %>
