<% @page_title = " - Pievienot jaunu produktu" %>
<% @page_id = "product_category_#{@category.id}" %>

<h2>Pievienot jaunu produktu kategorijÄ "<%= category_name(@category) %>"</h2>

<%= error_messages_for :product %>

<% form_for :product, :url => category_products_path(:category_id => @category) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p><%= submit_tag "Pievienot" %></p>
<% end %>
