<% @page_pid = {:category => @category} %>
<% @page_title = "Jauns produkts" %>

<div class="header"><%= category_name(@category) %></div>

<div class="caption">
	<font size="2.5em" face="Monaco" color="orange">Pievienot</font>
</div>

<%= error_messages_for :product %>

<% form_for :product, :url => category_products_path(:category_id => @category), :html => {:multipart => true} do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p><%= submit_tag "Pievienot" %></p>
<% end %>
